@import './base.css';
body{
  padding-top: 56px
}
.navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f9f9f3;
  
}
.bd-main{
  padding-top: 3rem;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
/* Safari 10.1+ */
@media only screen and (max-width: 768px) {
  .safari_only, .form-check-label, .form-label ,
  .form-select-text { 
    color: #232323; 
  }
  .navbar-toggler{
    background-color: #232323;
  }
  .cellphon_w {
    width: 23rem;
  }
  .bd-main{
    padding-top: 30rem;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
